
.fondo1{
    text-align: center; 
    font-size: 60px;
    border: 1px solid rgb(183, 176, 176);
}

 .fondo2{
  background-position: center;
  width: 100%;/*ancho*/
  height: 600px; /* Alto */

}

/*
.fondo2 {
  background-image: url('../img/veterinari1.jg');
  background-position: center;
  width: 100%; /* ancho 
  height: 600px; /* alto 
  background-size: 100vw 100vh; /* para que se adapte al tamaño de la pantalla 
}*/






 
.boton-iniciar {
  /* Aquí puedes agregar los estilos que desees para el botón */
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}